{% extends 'layout_client.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block content %}
    <section class="bg-white">
	    <div class="container">
		    <form action="{{ path('login') }}" method="post" style="max-width: 500px; margin: auto;">
			    
			    {% if app.user %}
				    <div class="mb-3">
					    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('logout') }}">Logout</a>
				    </div>
			    {% endif %}
			    <h1 class="mb-4">{{ block('title') }}</h1>
			    
			    <div class="mb-3">
				    <label for="username" class="form-label required">Nom d'utilisateur</label>
				    <input
					    type="text"
					    value="{{ last_username }}"
					    name="_username"
					    id="username"
					    class="form-control"
					    autocomplete="username"
					    required
					    autofocus
				    >
			    </div>
			    <div class="mb-3">
				    <label for="password" class="form-label required">Mot de passe</label>
				    <input
					    type="password"
					    name="_password"
					    id="password"
					    class="form-control"
					    autocomplete="current-password"
					    required
				    >
			    </div>
			    
			    <input type="hidden" name="_csrf_token"
			           value="{{ csrf_token('authenticate') }}"
			    >
			    
			    {#
			    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
				See https://symfony.com/doc/current/security/remember_me.html
		
				<div class="checkbox mb-3">
					<input type="checkbox" name="_remember_me" id="_remember_me">
					<label for="_remember_me">Remember me</label>
				</div>
			    #}
			    
			    {# If you want to control the URL the user is redirected to on success #}
			    <input type="hidden" name="_target_path" value="{{ path('login') }}">
			    
			    <button class="btn btn-primary" type="submit">Se connecter</button>
			    
			    {% if error %}
				    <div class="alert alert-danger mt-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			    {% endif %}
		    </form>
	    </div>
    </section>
{% endblock %}
